body {
  margin: 0;
  background-color: #2e2b2c;
  font-family: "Open Sans", sans-serif;
  color: rgb(161, 167, 172);
  font-size: 25px;
}

div {
  min-height:85px;
  margin-bottom: 25px;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: rgba(205, 203, 203, 0.1);
}

.flag {
  width: 70px;
  position: absolute;
  left: 60px;
}
input {
  height: 60px;
  background-color: rgba(9, 8, 8, 0.107);
  border: 1px solid 2px 2px 5px rgba(30, 28, 28, 0.54);
  border-radius: 10px;
  flex: 1;
  padding-left: 110px;
  color: white;
  font-size: 24px;
  text-align: center;
}

.input-container {
  background-color: rgba(205, 203, 203, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
}

.currency {
  position: absolute;
  right: 50px;
  font-size: 20px;
  color: rgb(254, 115, 15);
  font-weight: 700;
  bottom: 40px;
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: rgb(254, 115, 15);
  padding: 0 32px;
  height: 50px;
  border: unset;
  font-size: 24px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}